<html>
	<head>
		<title>Giscoring</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/q.js/1.1.2/q.js"></script>
	</head>
	<body>
		<h3>Gitscoring {{ project }}</h3>

		<div src="/{{ project }}/users">
			Cargando users
		</div>

		<script src="/js/main.js"></script>
	</body>
</html>